.custom-spin {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  .room-page-container {
    width: 870px;
    height: 860px;
    border-radius: 4px;

    .room-top-members {
      display: none;
      align-items: center;
      justify-content: flex-start;
      padding: 0px 20px;
      height: 50px;
      overflow-x: scroll;
      border: 1px solid var(--black15);
      margin-bottom: 10px;

      .room-members-item {
        line-height: 48px;
        height: 48px;
        display: flex;
        align-items: center;

        .room-members-item-head {
          width: 32px;
          height: 32px;
          overflow: hidden;
          border-radius: 50%;
          border: 1px solid var(--orange80);
          margin-right: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .room-members-item-name {
          font-size: 14px;
          color: var(--orange);
        }
      }
    }

    .room-main {
      height: 530px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .room-logs-container {
        height: 540px;
        width: 660px;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--black15);

        .room-logs-container-title {
          height: 40px;
          width: calc(100% - 20px);
          border-bottom: 1px solid var(--black15);
          background-color: var(--white);
          line-height: 40px;
          padding-left: 20px;
          font-size: 14px;
          font-weight: bold;
          color: var(--black85);
          display: flex;
          align-items: center;
          justify-content: space-between;

          .room-logs-container-title-content {
            display: flex;
            align-items: center;
          }

          .star-img {
            width: 18px;
            height: 18px;
            margin-left: 8px;
          }

          .room-logs-container-title-exit {
            cursor: pointer;
            width: 26px;
            height: 26px;
            margin-right: 12px;
          }
        }
      }

      .room-logs {
        width: 620px;
        height: 500px;
        padding: 10px 20px 20px 20px;
        overflow: scroll;
        position: relative;
      }

      .room-logs-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .room-logs-item-head {
          display: flex;
          font-size: 13px;
          line-height: 30px;

          .room-logs-item-head-user {
            color: var(--black85);
            font-weight: bold;
          }

          .room-logs-item-head-time {
            margin-left: 20px;
            color: var(--skyblue);
            text-decoration: underline;
          }
        }

        .room-logs-item-content {
          color: var(--black85);
          white-space: pre-wrap;
        }

        .room-logs-item-system {
          color: var(--black45);
          font-size: 12px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 26px;

          .room-logs-item-system-content {
            background-color: var(--brand10);
            padding: 0 16px;
            border-radius: 10px;
            color: var(--brand);
            line-height: 20px;
            white-space: pre-wrap;
          }
        }
      }

      .room-members {
        width: 150px;
        height: 520px;
        border: 1px solid var(--black15);
        padding: 10px 20px;
        overflow: scroll;

        .room-members-item {
          line-height: 48px;
          height: 48px;
          display: flex;
          align-items: center;

          .room-members-item-head {
            width: 32px;
            height: 32px;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid var(--orange80);
            margin-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .room-members-item-name {
            font-size: 14px;
            color: var(--orange);
          }
        }
      }
    }

    .room-user {
      height: 180px;
      padding: 10px 0px;
      margin-top: 6px;

      .room-user-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 40px;
        height: 40px;
        color: var(--black85);

        .room-user-info-label {
          margin-right: 6px;
          color: var(--black65);
          display: flex;
          align-items: center;

          .user-icon {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
          }

          .room-user-info-name {
            margin-left: 6px;
            color: var(--black45);
            font-weight: bold;
          }
        }

        .get-logs {
          cursor: pointer;
          display: flex;
          align-items: center;

          img {
            width: 26px;
            height: 26px;
            margin-left: 20px;
          }
        }
      }

      .room-user-input {
        position: relative;

        textarea {
          border: 1px solid var(--black15);
          border-radius: 2px;
        }

        .send-icon {
          position: absolute;
          right: 20px;
          bottom: 20px;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }
    }
  }

  .one-img {
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .shine-text {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 200%;
      height: 100%;
      background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.7) 50%,
        rgba(255, 255, 255, 0) 70%
      );
      animation: shine 2s infinite;
    }

    @keyframes shine {
      0% {
        left: -100%;
      }
      100% {
        left: 100%;
      }
    }
  }
}

/* 如果屏幕宽度小于 900px，则宽度改为100% */
@media (max-width: 900px) {
  .room-page {
    width: 100%;
    height: calc(100vh - 20px);
    display: flex;
    align-items: flex-start;
    padding-top: 20px;

    .room-page-container {
      width: calc(100% - 40px);

      .room-top-members {
        display: flex;
      }

      .room-main {
        height: 400px;

        .room-logs-container {
          width: 100%;
          height: 410px;
        }

        .room-members {
          display: none;
        }

        .room-logs {
          width: calc(100% - 40px);
        }
      }
    }
  }
}
